# Limits for the Pilz planner
cartesian_limits:
  max_trans_vel: {{ pilz.max_trans_vel | fmtnum }}
  max_trans_acc: {{ pilz.max_trans_acc | fmtnum }}
  max_trans_dec: {{ pilz.max_trans_dec | fmtnum }}
  max_rot_vel: {{ pilz.max_rot_vel | fmtnum }}
